.sidebar {
height: 350px;
width: 130px;
position: realtive;
top: 0;
right: 0;
padding-top: 50px;
background-color: rgb(130, 220, 210);
float: left;
margin-right: -100%;
max-width: 400px;    
}

.sidebar div {
padding: 12px;
font-size: 24px;
display: block;
float: left
}
.main{
  margin-left:130px;
  padding: 0px 10px;
}
.body-text {
margin-right: 150px;
font-size: 18px;
}

header {
  background-color: rgb(130, 220, 210);
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: white;
  box-shadow:20px 20px 10px grey;  
}

mark{
  background-color: rgba(255, 251, 0, 0.50);
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}


